body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
    line-height: 24px;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}



.content-container {
    /*margin: 2px;*/
}

.easyui-accordion ul {
    margin: 5px 0;
}


.easyui-accordion li a {
    padding: 5px 15px;
    margin: 3px 10px;
    display: block;
    color: #000000;
    border: solid 1px #ffffff;
    margin-bottom: 1px;
    cursor: pointer;
    text-decoration: none;
}

    .easyui-accordion li a:hover,
    .easyui-accordion li a.selected {
        border: solid 1px #ccc;
        background: #FBEC88;
    }
