<div class="ajax-form-container">
    @using (Ajax.BeginForm("create", "JobTitleCate", new AjaxOptions()
{
    OnSuccess = "JobTitleCate_ajaxFormSuccess",
    OnFailure = "ajaxFormFailure"
}, new { formtitle = "添加JobTitleCate" }))
    {
        @Html.AntiForgeryToken()
        @Html.EditorForModel()
        <div class="form-field form-field-submit">
            <button type="submit" class="btn btn-green btn-save ">
                <i class="icon-button icon-btn-save"></i>
                保 存</button>
        </div>
    }
</div>

